<a href="https://colab.research.google.com/github/annabrt/processo-ETL-Python-anotacoes/blob/main/processo_ETL_completo_com_Python_e_a_biblioteca_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#import pandas as pd
  Importa a biblioteca pandas, que Ã© usada para trabalhar com dados em formato de tabelas (DataFrames).

In [ ]:
import pandas as pd

In [ ]:
pd.read_csv("SuperHeroes.csv", sep=';')

,Name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,Alien,Male,unknown,Xenomorph XX121,No Hair,244.0,Dark Horse Comics,black,bad,169.0
1,Killer Frost,Female,blue,Human,Blond,NaN,DC Comics,blue,bad,NaN
2,Mystique,Female,yellow (without irises),Mutant,Red / Orange,178.0,Marvel Comics,blue,bad,54.0
3,Nebula,Female,blue,Luphomoid,No Hair,185.0,Marvel Comics,blue,bad,83.0
4,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
...,...,...,...,...,...,...,...,...,...,...
729,Blackwulf,Male,red,Alien,White,188.0,Marvel Comics,unknown,unknown,88.0
730,Anti-Venom,Male,blue,Symbiote,Blond,229.0,Marvel Comics,unknown,unknown,358.0
731,Venompool,Male,unknown,Symbiote,unknown,226.0,Marvel Comics,unknown,unknown,NaN
732,Q,Male,unknown,God / Eternal,unknown,NaN,Star Trek,unknown,unknown,NaN
733,Brundlefly,Male,unknown,Mutant,unknown,193.0,unknown,unknown,unknown,NaN

#print()
A funÃ§Ã£o print() serve para exibir informaÃ§Ãµes no console. Ã muito usada para:

Ver o conteÃºdo de uma variÃ¡vel.

Acompanhar o que estÃ¡ acontecendo no cÃ³digo.

Depurar erros ou entender como os dados estÃ£o em determinado momento.


O primeiro print("Dados originais:") exibe um texto explicativo, que ajuda a identificar o que estÃ¡ sendo mostrado.

#df.head()
  Mostra as primeiras 5 linhas do DataFrame.

Muito Ãºtil para uma visualizaÃ§Ã£o inicial dos dados carregados.

O segundo print(df.head()) exibe as 5 primeiras linhas da tabela df, para que a gente possa visualizar os dados carregados.

#Dica:
VocÃª pode usar o print() sempre que quiser verificar o valor de uma variÃ¡vel ou o resultado de alguma transformaÃ§Ã£o ao longo do processo. Ã uma prÃ¡tica muito comum ao desenvolver scripts de ETL ou anÃ¡lise de dados.

In [ ]:
print("Dados originais:")
print(df.head())

Dados originais:
           Nome     GÃªnero            Cor_dos_olhos             RaÃ§a  \
0         Alien  Masculino                  unknown  Xenomorph XX121
1  Killer Frost   Feminino                     blue            Human
2      Mystique   Feminino  yellow (without irises)           Mutant
3        Nebula   Feminino                     blue        Luphomoid
4    Abe Sapien  Masculino                     blue    Icthyo Sapien

  Cor_do_cabelo   Altura_cm            Editora Cor_da_pele Alinhamento  \
0       No Hair  244.000000  Dark Horse Comics       black         mau
1         Blond  186.726306          DC Comics        blue         mau
2  Red / Orange  178.000000      Marvel Comics        blue         mau
3       No Hair  185.000000      Marvel Comics        blue         mau
4       No Hair  191.000000  Dark Horse Comics        blue         bom

      Peso_kg  Altura_m        IMC
0  169.000000  2.440000  28.386187
1  112.252525  1.867263  32.194754
2   54.000000  1.780000  17.043303
3   83.000000  1.850000  24.251278
4   65.000000  1.910000  17.817494

#df.rename(columns={...})
Renomeia uma ou mais colunas do DataFrame.

  Passamos um dicionÃ¡rio com os nomes antigos como chave e os novos como valor.

#df['coluna'].replace({valor_antigo: valor_novo})
Substitui valores dentro de uma coluna por outros valores.

Usado para traduzir ou padronizar os dados.

In [ ]:
df = df.rename(columns={
    'Name': 'Nome',
    'Gender': 'GÃªnero',
    'Eye color': 'Cor_dos_olhos',
    'Race': 'RaÃ§a',
    'Hair color': 'Cor_do_cabelo',
    'Height': 'Altura_cm',
    'Publisher': 'Editora',
    'Skin color': 'Cor_da_pele',
    'Alignment': 'Alinhamento',
    'Weight': 'Peso_kg'
})

# 2. Traduzir valores da coluna GÃªnero
df['GÃªnero'] = df['GÃªnero'].replace({
    'Male': 'Masculino',
    'Female': 'Feminino',
    'unknown': 'Desconhecido'
})

# 3. Traduzir valores da coluna Alinhamento
df['Alinhamento'] = df['Alinhamento'].replace({
    'good': 'bom',
    'bad': 'mau',
    'neutral': 'neutro'
})

#pd.to_numeric(df['coluna'], errors='coerce')
Converte os dados da coluna para o tipo numÃ©rico.

errors='coerce': transforma valores invÃ¡lidos (ex: texto) em NaN (valor nulo).

In [ ]:
df['Altura_cm'] = pd.to_numeric(df['Altura_cm'], errors='coerce')
df['Peso_kg'] = pd.to_numeric(df['Peso_kg'], errors='coerce')

#df['coluna'].fillna(valor ou cÃ¡lculo)
Preenche os valores nulos (NaN) da coluna com um valor especÃ­fico.

Exemplo comum: df['coluna'].fillna(df['coluna'].mean()) â preenche com a mÃ©dia.

In [ ]:
df['Altura_cm'] = df['Altura_cm'].fillna(df['Altura_cm'].mean())
df['Peso_kg'] = df['Peso_kg'].fillna(df['Peso_kg'].mean())

#df['nova_coluna'] = cÃ¡lculo
Cria uma nova coluna com base em um cÃ¡lculo, por exemplo:

df['Altura_m'] = df['Altura_cm'] / 100

df['IMC'] = df['Peso_kg'] / (df['Altura_m'] ** 2)

In [ ]:
df['Altura_m'] = df['Altura_cm'] / 100
df['IMC'] = df['Peso_kg'] / (df['Altura_m'] ** 2)

#df.drop_duplicates(subset=['coluna'])
Remove linhas duplicadas do DataFrame, considerando uma ou mais colunas como critÃ©rio de comparaÃ§Ã£o.

In [ ]:
df = df.drop_duplicates(subset=['Nome'])

#df[df['coluna'] == 'valor']
Filtra o DataFrame, retornando apenas as linhas que atendem Ã  condiÃ§Ã£o informada.

Exemplo: df[df['GÃªnero'] == 'Feminino']

In [ ]:
df_feminino = df[df['GÃªnero'] == 'Feminino']

#df.groupby('coluna')['outra_coluna'].count().reset_index()
Agrupa os dados com base em uma coluna e aplica uma funÃ§Ã£o de agregaÃ§Ã£o.

groupby(): agrupa os dados.

count(): conta a quantidade de registros em cada grupo.

reset_index(): transforma o resultado em um novo DataFrame.

In [ ]:
contagem_por_editora = df.groupby('Editora')['Nome'].count().reset_index()
contagem_por_editora = contagem_por_editora.rename(columns={'Nome': 'Quantidade_personagens'})

print("Resumo por editora:")
print(contagem_por_editora)

print("\nPersonagens femininas:")
print(df_feminino[['Nome', 'GÃªnero', 'Altura_cm', 'Peso_kg', 'IMC']].head())
print("Arquivo tratado:")
print(df)

Resumo por editora:
              Editora  Quantidade_personagens
0         ABC Studios                       4
1           DC Comics                     208
2   Dark Horse Comics                      18
3        George Lucas                      14
4       Hanna-Barbera                       1
5       HarperCollins                       6
6      IDW Publishing                       4
7         Icon Comics                       4
8        Image Comics                      14
9       J. K. Rowling                       1
10   J. R. R. Tolkien                       1
11      Marvel Comics                     376
12          Microsoft                       1
13       NBC - Heroes                      19
14          Rebellion                       1
15           Shueisha                       4
16      Sony Pictures                       2
17         South Park                       1
18          Star Trek                       6
19               SyFy                       5
20       Team Epic TV                       5
21        Titan Books                       1
22  Universal Studios                       1
23          Wildstorm                       3
24            unknown                      15

Personagens femininas:
           Nome    GÃªnero   Altura_cm     Peso_kg        IMC
1  Killer Frost  Feminino  186.726306  112.252525  32.194754
2      Mystique  Feminino  178.000000   54.000000  17.043303
3        Nebula  Feminino  185.000000   83.000000  24.251278
6   Shadow Lass  Feminino  173.000000   54.000000  18.042701
9       Copycat  Feminino  183.000000   67.000000  20.006569
Arquivo tratado:
             Nome     GÃªnero            Cor_dos_olhos             RaÃ§a  \
0           Alien  Masculino                  unknown  Xenomorph XX121
1    Killer Frost   Feminino                     blue            Human
2        Mystique   Feminino  yellow (without irises)           Mutant
3          Nebula   Feminino                     blue        Luphomoid
4      Abe Sapien  Masculino                     blue    Icthyo Sapien
..            ...        ...                      ...              ...
729     Blackwulf  Masculino                      red            Alien
730    Anti-Venom  Masculino                     blue         Symbiote
731     Venompool  Masculino                  unknown         Symbiote
732             Q  Masculino                  unknown    God / Eternal
733    Brundlefly  Masculino                  unknown           Mutant

    Cor_do_cabelo   Altura_cm            Editora Cor_da_pele Alinhamento  \
0         No Hair  244.000000  Dark Horse Comics       black         mau
1           Blond  186.726306          DC Comics        blue         mau
2    Red / Orange  178.000000      Marvel Comics        blue         mau
3         No Hair  185.000000      Marvel Comics        blue         mau
4         No Hair  191.000000  Dark Horse Comics        blue         bom
..            ...         ...                ...         ...         ...
729         White  188.000000      Marvel Comics     unknown     unknown
730         Blond  229.000000      Marvel Comics     unknown     unknown
731       unknown  226.000000      Marvel Comics     unknown     unknown
732       unknown  186.726306          Star Trek     unknown     unknown
733       unknown  193.000000            unknown     unknown     unknown

        Peso_kg  Altura_m        IMC
0    169.000000  2.440000  28.386187
1    112.252525  1.867263  32.194754
2     54.000000  1.780000  17.043303
3     83.000000  1.850000  24.251278
4     65.000000  1.910000  17.817494
..          ...       ...        ...
729   88.000000  1.880000  24.898144
730  358.000000  2.290000  68.267196
731  112.252525  2.260000  21.977548
732  112.252525  1.867263  32.194754
733  112.252525  1.930000  30.135715

[715 rows x 12 columns]

#df.to_csv('arquivo.csv', sep=';', index=False)
Salva o DataFrame em um arquivo CSV.

sep=';': define o separador.

index=False: nÃ£o salva a coluna de Ã­ndice numÃ©rico.

df.to_csv('personagens_tratados.csv', sep=';', index=False)
df_feminino.to_csv('personagens_femininas.csv', sep=';', index=False)
contagem_por_editora.to_csv('contagem_personagens_editora.csv', sep=';', index=False)